@layer tailwind-base, primeng, primeng-theme-lara-light, tailwind-components, tailwind-utilities;

/** @TODO Import it so it being downloaded in parallel - in project.json / index.html */

@import 'primeicons/primeicons.css';
@import 'tailwindcss/base' layer(tailwind-base);
@import 'primeng/resources/primeng.css' layer(primeng);
@import 'primeng/resources/themes/aura-light-noir/theme.css'
  layer(primeng-theme-lara-light);
@import 'tailwindcss/components' layer(tailwind-components);
@import 'tailwindcss/utilities' layer(tailwind-utilities);

// import Quill styles in styles.scss
@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.snow.css';

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

  color: #757575;
  font-size: 22px;

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #c8dafc;
  }

  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
}

.primeng-menu__active {
  background-color: #e2e8f0;
  border-radius: 0.25rem;
  /* 4px */
  color: #334155;
}

/**
  USER HINTS
**/
.user-hint {
  position: absolute;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-style: normal;

  p {
    position: absolute;
  }
}

/** CSS bugfixes */
p-floatLabel .p-float-label p-dropdown input.p-placeholder {
  opacity: 1;
}

p-image .p-image-preview-indicator {
  border-radius: 9999px;
}
